<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite exp">
  <test thread-count="5" name="Test exp">
    <classes>
      <class name="testCases.TC_001_AccountRegistrationTest"/>
      <class name="testCases.After_login"/>
    </classes>
  </test> <!-- Test exp -->
</suite> <!-- Suite exp -->
